<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button>
      <mat-icon aria-label="Return">arrow_back</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutAlign="center center" class="page-title-with-return-button" fxFlex>
      <h1 class=""> Transactions</h1>
    </div>
  </div>

  <app-transaction-line-graph [transactions]="transactions" *ngIf="dataFetched"></app-transaction-line-graph>

  <mat-table #table [dataSource]="dataSource" class="example-container mat-elevation-z2"
             matSort matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.date | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.value | currency:'EUR' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="reference">
      <mat-header-cell *matHeaderCellDef>Reference</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.reference}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Amount of Itens</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.amount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef fxFlex="85px" fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Add transaction">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" fxFlex="85px" fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Edit transaction">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon aria-label="Delete transaction">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="25"
                 [pageSizeOptions]="[5, 10, 25, 50, 100]"
                 [showFirstLastButtons]="true"></mat-paginator>
</div>
