<mat-toolbar color="primary">
  <div fxLayout="row" fxFLayoutGap="5px" fxFlex>
    <div fxFlex>
      <a routerLink="" class="home-title" style="padding-right: 10px">{{title}}</a>
      <span>{{companyName}}</span>
    </div>


    <div fxLayout="row" fxFLayoutGap="5px" *ngIf="isAuthenticated()" fxHide.xs>
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLink="/companies" *ngIf="isAdmin()">Companies</button>
      <button mat-button [routerLink]="['/companies', companyId]" *ngIf="!isAdmin()">My Company</button>
      <button mat-button routerLink="/data">Data</button>
      <button mat-button routerLink="/profile">Profile</button>
      <button mat-button routerLink="/logout">Logout</button>
    </div>

    <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">Login</button>

  </div>
</mat-toolbar>
