<mat-toolbar color="primary">
  <div fxLayout="row" fxFLayoutGap="5px" fxFlex>
    <div fxFlex>
      <a routerLink="" class="home-title">{{title}}</a>
    </div>

    <div fxLayout="row" fxFLayoutGap="5px" *ngIf="isAuthenticated()">
      <button mat-button>Companies</button>
      <button mat-button>Data</button>
      <button mat-button routerLink="/logout">Logout</button>
    </div>

    <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">Login</button>
  </div>
</mat-toolbar>
