<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button routerLink="/data">
      <mat-icon aria-label="Return">arrow_back</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutAlign="center center" class="page-title-with-return-button" fxFlex>
      <h1 class=""> Company {{': ' + company.name}}</h1>
    </div>
  </div>

  <div fxLayout="column" >
    <span class="mat-body-2">Responsible contacts</span>
    <span class="mat-body-2">{{company.name}}</span>
    <span class="mat-body-2">{{company.responsiblePhone}}</span>
    <span class="mat-body-2">{{company.responsibleEmail}}</span>
  </div>

</div>
