<div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 class="mat-display-2"> Data Categories</h1>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.gt-lg="20%" class="card-container">
      <mat-card fxLayout="row" fxLayoutAlign="center center" matRipple [matRippleCentered]="true"
                routerLink="/data/employee">
        <span class="mat-h1">Employee Data </span>
      </mat-card>
    </div>
    <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.gt-lg="20%" class="card-container">
      <mat-card fxLayout="row" fxLayoutAlign="center center" matRipple [matRippleCentered]="true"
                routerLink="/data/transaction">
        <span class="mat-h1">Transaction Data </span>
      </mat-card>
    </div>
    <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.gt-lg="20%" class="card-container">
      <mat-card fxLayout="row" fxLayoutAlign="center center" matRipple [matRippleCentered]="true"
                routerLink="/data/product">
        <span class="mat-h1">Product Data </span>
      </mat-card>
    </div>
    <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.gt-lg="20%" class="card-container">
      <mat-card fxLayout="row" fxLayoutAlign="center center" matRipple [matRippleCentered]="true"
                routerLink="/data/import">
        <span class="mat-h1">Import Data </span>
      </mat-card>
    </div>
    <div fxFlex.md="50%" fxFlex.lg="33%" fxFlex.gt-lg="20%" class="card-container">
      <mat-card fxLayout="row" fxLayoutAlign="center center" matRipple [matRippleCentered]="true"
                routerLink="/data/export">
        <span class="mat-h1">Export Data </span>
      </mat-card>
    </div>
  </div>
</div>
